.hero4_bg {
  background-image: url(../../../../public/mac/mac_hero4_des.jpg);
  background-size: cover;
  background-position: right center;
}

@media screen and (max-width: 830px) {
  .hero4_bg {
    background-image: url(../../../../public/mac/mac_hero4_mob.jpg);
    background-size: cover;
    background-position: bottom center;
  }
}

.hero5_bg {
  overflow: hidden;
}

.hero6_1 {
  background-image: url(../../../../public/mac/mac_hero6_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.hero6_2 {
  background-image: url(../../../../public/mac/mac_hero6_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
