.mac_hero1_main_col {
  width: 150px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 150px;
  text-transform: capitalize;
  color: black;
}

/* just know that the defalut of it is -401 */

@media screen and (max-width: 830px) {
  .mac_hero1_all_wrap {
    height: 120px;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    -ms-overflow-style: none;
  }
  .mac_hero1_all_wrap::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }

  .mac_hero1_main_col {
    width: 110px;
    height: 120px;
    display: flex;
  }

  .mac_hero1_main_col:hover {
    color: blue;
  }

  .mob_mac_hero1_wrap {
    translate: 2vw 0;
    position: absolute;
    top: 0;
    height: 150px;
    left: 0;
    display: flex;
    height: auto;
    transition: 1s ease;
  }

  .mac_hero1_img {
    width: 100%;
    height: 60%;
  }
}
