.tv1_txt {
  animation-name: tv1;
  animation-duration: 2s;
  transition: 2s ease;
}

@keyframes tv1 {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.tv_1_change::before {
  background-image: url(../../../../public/mac/mac_change_wrap.jpg);
  /* border: 22px solid; */
  content: "";
  position: absolute;
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 390px;
  height: 320px;
  z-index: -1;
}

@media screen and (max-width: 830px) {
  .tv_1_change::before {
    width: 300px;
    height: 260px;
  }
}
