.store_hero4_all_wrap {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  background-color: #f3f5f7;
  height: 250px;
  -ms-overflow-style: none;
}

.store_hero4_all_wrap::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.store_hero4_wrap {
  display: flex;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  gap: 30px;
}

.store_hero4_main_col {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  transition: 1s ease;
  font-size: 24px;
  border-radius: 18px;

  background-color: white;

  /* align-items: center; */
}
.store_hero4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  padding: 10px 00px 0 20px;
  justify-content: start;
}

.icons {
  font-size: 50px;
}

.box1 {
  color: #68cc45;
}
.box2 {
  color: #ac39ff;
}
.box3 {
  color: #007aff;
}
.box4_icons {
}

/* fallback for IE */
.box4 {
  color: red;
}
/* gradient text for modern browsers */
@supports (background-clip: text) {
  .box4 {
    background-image: linear-gradient(60deg, #e21143, #ffb03a, green);
    background-clip: text;
    color: transparent;
  }
}
.store_hero4_main_col:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
}

.mob_store_hero4_wrap {
  display: none;
}

/* just know that the defalut of it is -401 */

@media screen and (max-width: 830px) {
  .mob_store_hero4_all_wrap {
    height: 500px;
  }
  .store_hero4_main_col {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .store_hero4 {
    font-size: 20px;
    padding: 10px 20px 0 20px;
  }

  .store_hero3_right {
    display: none;
  }
  .store_hero3_left {
    display: none;
  }

  .mob_store_hero4_wrap {
    translate: 5vw 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: auto;
    transition: 1s ease;
    gap: 0;
  }

  .store_hero4_all_wrap {
    overflow-x: scroll;
  }
  .store_hero4_wrap {
    display: none;
  }
}
