/* mobile css setting */
.hero1_img {
  width: 60%;
  height: auto;
}
.mob_hero1_img {
  display: none;
}

.col_1 {
  background-image: url(../../../public/grid_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.col_2 {
  background-image: url(../../../public/grid_2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.col_3 {
  background-image: url(../../../public/grid_3.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.col_4 {
  background-image: url(../../../public/grid_4.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 830px) {
  .excerpt {
    font-size: 15px;
    padding: 10px 20px;
  }
  .hero1_img {
    display: none;
  }

  .mob_hero1_img {
    display: block;
    width: 70%;
    height: auto;
  }
  .general_hero {
    height: 540px;
  }
}

/* text-[#e3e3e7] */
